<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Stored XSS Laboratoriyasi</title>
    <style>
        body { background-color: #1a1a1a; color: #00ff00; font-family: monospace; padding: 20px; }
        input[type="text"] { width: 300px; padding: 10px; background: black; color: lime; border: 1px solid lime; }
        button { padding: 10px 20px; background: lime; color: black; font-weight: bold; cursor: pointer; border: none; }
        .comment-box { border: 1px solid #333; padding: 10px; margin-top: 10px; background-color: #111; }
    </style>
</head>
<body>
    <h2>Stored XSS (Saqlanuvchi zaiflik) Laboratoriyasi</h2>
    <p>Bu yerda qoldirilgan izohlar ma'lumotlar bazasida saqlanib qoladi.</p>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="xabar" placeholder="Zararli skript yoki izoh yozing..." required>
        <button type="submit">Jo'natish</button>
    </form>

    <br><hr style="border-color: #333;"><br>

    <h3>Foydalanuvchilar izohlari:</h3>
    
    {% for izoh in izohlar %}
        <div class="comment-box">
            {{ izoh.matn|safe}} 
        </div>
    {% empty %}
        <p style="color: gray;">Hali hech qanday izoh yo'q...</p>
    {% endfor %}

</body>
</html>